<br>

<div> <!-- carousel starts here -->
	<h1>bootstrap carousel goes here with >= 3 rotating images of the kits.
	Include one holiday special comment.</h1>
</div><!-- end carousel -->

<br>
<div class="container"><!-- begin content per product -->
	<div class ="row">
		<div class = "col-md-4">
			<p>Product image goes here</p>
		</div><!-- end image column -->
		<div class = "col-md-8">
			<p><h2>Product name</h2></p>
			<p><h3>Product details</h3></p>
			<p><h3>Product price</h3></p>
		</div><!-- end col for product details -->
	<div><!-- end row for products -->
</div><!-- end prouct container -->
<br>